<% include ../layout/head %>
<% include ../layout/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Welcome to Alpha Blog<br><small>Post your thoughts</small></h1>
      </div>
      <a href="#" class="btn btn-primary btn-block btn-lg disabled">Get Started Posting</a>
    </div>
  </div>
</div>

<% include ../layout/footer %>
<% include ../layout/foot %>