<% include ../layout/head %>
<% include ../layout/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h1><%= article.title %></h1>
        <p><%= article.body %></p>
        <p><strong>By: <%= article.author %></strong></p>
      </div>
    </div>
  </div>
</div>

<% include ../layout/footer %>
<% include ../layout/foot %>